<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird21/default/21_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{225,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{449,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{673,180},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{897,180},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{220,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1341,612},{220,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{220,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1563,612},{220,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{220,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1785,612},{220,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1121,180},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1341,180},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1561,182},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1781,182},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,393},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{221,393},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{441,393},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{661,395},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{881,395},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1101,395},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1321,395},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{224,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1549,397},{224,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{224,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1775,397},{224,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{677,825},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{905,825},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{228,219}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1819,829},{228,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,1042},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{235,1042},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{469,1044},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{703,1044},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{937,1048},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1171,1048},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1405,1048},{232,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{230,221}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1639,1050},{230,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{228,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1133,829},{228,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1363,829},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1591,829},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{224,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,823},{224,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{220,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,608},{220,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{220,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{223,608},{220,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{220,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{445,610},{220,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{218,179}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1747,1},{218,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{216,177}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{873,1},{216,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,25}</string>
                <key>spriteSize</key>
                <string>{218,177}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1091,1},{218,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{216,177}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1311,1},{216,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{216,177}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1529,1},{216,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{216,175}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{216,175}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{219,1},{216,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{216,175}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{437,1},{216,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{216,175}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{655,1},{216,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{224,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{667,610},{224,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{224,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{227,825},{224,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{222,215}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{453,825},{222,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{893,610},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{1117,610},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird21/default/21_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{258,255}</string>
                <key>textureRect</key>
                <string>{{225,178},{222,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird21-0.png</string>
            <key>size</key>
            <string>{2048,1272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b49fc7d91ebb23c6a871d9ed1bbc2f7f:d5cc61e624492c3ff36f22eee9f23b98:c6cfa50ab2fd65c13e130682e9b40a85$</string>
            <key>textureFileName</key>
            <string>bird21-0.png</string>
        </dict>
    </dict>
</plist>
