<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird10/crown/10_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird10/crown/10_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,193}</string>
                <key>textureRect</key>
                <string>{{1,150},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird10/crown/10_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,193}</string>
                <key>textureRect</key>
                <string>{{1,299},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird10/crown/10_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,193}</string>
                <key>textureRect</key>
                <string>{{1,448},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird10/crown/10_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,193}</string>
                <key>textureRect</key>
                <string>{{1,597},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird10-crown-1.png</string>
            <key>size</key>
            <string>{249,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6359279b4c78f76de536e7ddef794bb7:b0e478c25c3c43e10aca0d3fd6d9cfa7:a5f1d14e4ec0c07d2c442fbd48d1ba5f$</string>
            <key>textureFileName</key>
            <string>Bird10-crown-1.png</string>
        </dict>
    </dict>
</plist>
