<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird12/crown/12_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{265,229}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1320,228},{265,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{263,229}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1587,228},{263,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{261,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1,216},{261,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1061,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1326,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1591,1},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{261,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{264,220},{261,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{261,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{527,224},{261,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{261,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{790,226},{261,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1,449},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{268,453},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{267,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{535,455},{267,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{804,457},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1071,459},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1338,459},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{265,233}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{268,686},{265,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{265,233}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{804,690},{265,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{265,233}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1340,692},{265,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1605,459},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{267,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{535,688},{267,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{267,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1071,692},{267,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1,682},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{265,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1053,228},{265,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{263,223}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{796,1},{263,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{263,217}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{266,1},{263,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{263,213}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{263,221}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{531,1},{263,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{267,233}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1607,692},{267,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{267,247}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1,921},{267,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{267,249}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{539,925},{267,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{267,249}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{808,925},{267,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{267,249}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1077,927},{267,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{267,249}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1346,927},{267,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{267,249}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{1615,927},{267,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird12/crown/12_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{267,247}</string>
                <key>spriteSourceSize</key>
                <string>{277,257}</string>
                <key>textureRect</key>
                <string>{{270,921},{267,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird12-crown-1.png</string>
            <key>size</key>
            <string>{1883,1177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a130ccfd824b8b5eff5d20aec993ecd9:f5ba34166ef6c9f8059a5ca079d1683f:92b9a301fd497ed6b03af8aee2e5dc11$</string>
            <key>textureFileName</key>
            <string>Bird12-crown-1.png</string>
        </dict>
    </dict>
</plist>
