<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird22/default/22_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{254,157}</string>
                <key>spriteSourceSize</key>
                <string>{282,221}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird22/default/22_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{254,157}</string>
                <key>spriteSourceSize</key>
                <string>{282,221}</string>
                <key>textureRect</key>
                <string>{{1,160},{254,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird22/default/22_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{254,157}</string>
                <key>spriteSourceSize</key>
                <string>{282,221}</string>
                <key>textureRect</key>
                <string>{{1,319},{254,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird22/default/22_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{254,157}</string>
                <key>spriteSourceSize</key>
                <string>{282,221}</string>
                <key>textureRect</key>
                <string>{{1,478},{254,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird22/default/22_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{254,157}</string>
                <key>spriteSourceSize</key>
                <string>{282,221}</string>
                <key>textureRect</key>
                <string>{{1,637},{254,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird22-1.png</string>
            <key>size</key>
            <string>{256,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9533ad48a2fdcf11f2120bd40bb043cd:b18773e6bc6602133ef46f61c5a4c4db:3320e20923a081e33f44cff012173156$</string>
            <key>textureFileName</key>
            <string>bird22-1.png</string>
        </dict>
    </dict>
</plist>
