<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird9/crown/09_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{254,214}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1,365},{254,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{258,206}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1065,175},{258,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{256,208}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1325,175},{256,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{252,216}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1025,383},{252,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{248,226}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{251,803},{248,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{751,815},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{999,821},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1247,823},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1495,825},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1743,825},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{248,226}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{501,813},{248,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{248,224}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1,799},{248,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{513,593},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{767,595},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1021,601},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,216}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1279,385},{254,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{254,214}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,367},{254,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{256,208}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1583,177},{256,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{254,214}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{513,377},{254,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,216}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1535,387},{254,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,216}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1791,387},{254,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1277,603},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{252,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1533,605},{252,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{250,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1787,605},{250,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{262,202}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{801,175},{262,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{268,190}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1,173},{268,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{270,174}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1633,1},{270,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{270,172}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{270,172}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{270,172}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1089,1},{270,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{270,170}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{270,170}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{270,172}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{264,192}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{271,173},{264,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{262,200}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{537,175},{262,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{254,214}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{769,379},{254,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,216}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{1,581},{254,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird9/crown/09_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{254,218}</string>
                <key>spriteSourceSize</key>
                <string>{270,228}</string>
                <key>textureRect</key>
                <string>{{257,583},{254,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird9-crown-1.png</string>
            <key>size</key>
            <string>{2046,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07ea00bb3ac0f2ec4256205069cfeeb:e8817534d794208942d66167bc367e40:188274f43484a06ced0a331961ad8992$</string>
            <key>textureFileName</key>
            <string>Bird9-crown-1.png</string>
        </dict>
    </dict>
</plist>
