<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird11/default/11_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-7}</string>
                <key>spriteSize</key>
                <string>{247,192}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/default/11_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{247,192}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{250,1},{247,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird11-1.png</string>
            <key>size</key>
            <string>{498,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ca245204e3fc797ba15c48dc9fce12:e168737552b8f34645ca46f29133d83c:9af1627459d55bb378b046b34390f2b3$</string>
            <key>textureFileName</key>
            <string>Bird11-1.png</string>
        </dict>
    </dict>
</plist>
