<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird11/crown/11_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{519,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{257,212}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1035,407},{257,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1035,621},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{259,212}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1294,407},{259,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{259,212}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1555,409},{259,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{263,208}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1621,199},{263,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{265,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{816,199},{265,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{267,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1083,199},{267,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{269,204}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{274,199},{269,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{280,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{559,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{838,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1117,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1396,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{277,196}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1675,1},{277,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{271,202}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,199},{271,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{269,204}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{545,199},{269,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{267,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1352,199},{267,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1294,621},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1553,623},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{255,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{778,619},{255,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{253,216}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1290,837},{253,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{251,216}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1545,839},{251,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{249,220}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1509,1057},{249,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1798,907},{249,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird11/crown/11_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,1045},{249,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{252,1049},{249,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{503,1049},{249,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{754,1051},{249,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{249,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1005,1053},{249,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{251,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1256,1055},{251,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,829},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,833},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{267,210}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,403},{267,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{247,216}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1816,409},{247,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird11/crown/11_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{247,218}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1812,658},{247,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird11/crown/11_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{251,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{519,833},{251,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{253,210}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{270,405},{253,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{253,210}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{525,405},{253,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{253,210}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{780,407},{253,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{257,212}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1,615},{257,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{772,835},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{1031,837},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird11/crown/11_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{257,214}</string>
                <key>spriteSourceSize</key>
                <string>{277,228}</string>
                <key>textureRect</key>
                <string>{{260,617},{257,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird11-crown-0.png</string>
            <key>size</key>
            <string>{2033,1278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc85ecc1f7a0c16ff5e326af19624b1:71de681333ff4185c4318ce225791546:3f7a15ef01fcc2f5df328cf38f843044$</string>
            <key>textureFileName</key>
            <string>Bird11-crown-0.png</string>
        </dict>
    </dict>
</plist>
