<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird16/crown/16_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{258,191}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{775,560},{258,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{266,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{515,371},{266,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{270,183}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1615,1},{270,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{272,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{268,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{275,1},{268,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{268,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{545,1},{268,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{266,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{815,1},{266,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1083,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{264,181}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1349,1},{264,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{262,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,184},{262,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{262,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{265,184},{262,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{260,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{783,371},{260,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{260,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1045,371},{260,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-13}</string>
                <key>spriteSize</key>
                <string>{256,191}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1035,560},{256,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{254,195}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{257,751},{254,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{254,195}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{513,751},{254,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{254,195}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{769,753},{254,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-11}</string>
                <key>spriteSize</key>
                <string>{254,197}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1537,755},{254,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{254,201}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{257,948},{254,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{252,201}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1793,818},{252,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird16/crown/16_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1021,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{252,203}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1275,950},{252,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{252,201}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{513,948},{252,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{252,201}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{767,950},{252,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10}</string>
                <key>spriteSize</key>
                <string>{254,199}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,942},{254,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{254,195}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1025,753},{254,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{254,195}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1281,753},{254,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-14}</string>
                <key>spriteSize</key>
                <string>{256,191}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1293,560},{256,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-15}</string>
                <key>spriteSize</key>
                <string>{258,189}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{261,560},{258,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{260,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{529,184},{260,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{262,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{791,184},{262,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{264,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1055,184},{264,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{266,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1321,184},{266,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{262,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1589,186},{262,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{258,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1307,371},{258,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{254,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1567,373},{254,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{258,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,558},{258,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{258,185}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,371},{258,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{252,187}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{261,371},{252,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{252,189}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{521,560},{252,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{254,191}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1551,562},{254,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird16/crown/16_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{254,191}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1807,562},{254,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird16/crown/16_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-13}</string>
                <key>spriteSize</key>
                <string>{254,193}</string>
                <key>spriteSourceSize</key>
                <string>{302,223}</string>
                <key>textureRect</key>
                <string>{{1,747},{254,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird16-crown-1.png</string>
            <key>size</key>
            <string>{1999,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025a9b2cde396338cfbc55b8905921a8:074b2ec1a2adfd98e5e1a0b59bcced5c:4a2403b825fefa2ed120fad314763947$</string>
            <key>textureFileName</key>
            <string>Bird16-crown-1.png</string>
        </dict>
    </dict>
</plist>
