<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird17/crown/17_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{300,893},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{599,893},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{603,221},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{902,221},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1201,221},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{300,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{599,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1197,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1496,1},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,893},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,443},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{300,443},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{599,445},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{898,445},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1195,445},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1492,445},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{293,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1500,221},{293,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,667},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{298,667},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{595,669},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{894,669},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{297,222}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1193,669},{297,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1197,895},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{299,220}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,221},{299,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{299,220}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{302,221},{299,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{297,226}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1496,895},{297,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{291,238}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1795,292},{291,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird17/crown/17_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{289,242}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1795,1},{289,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird17/crown/17_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{289,244}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1789,585},{289,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird17/crown/17_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,1117},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{288,1119},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{575,1119},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{862,1119},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1149,1121},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1436,1123},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-4}</string>
                <key>spriteSize</key>
                <string>{285,254}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1723,1123},{285,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{295,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1492,669},{295,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird17/crown/17_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{297,224}</string>
                <key>spriteSourceSize</key>
                <string>{327,274}</string>
                <key>textureRect</key>
                <string>{{1,891},{297,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird17-crown-1.png</string>
            <key>size</key>
            <string>{2038,1378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d372a1b22c358d2baffa5e3f08b5b63:994717a61685984a663a484c1eb1b99a:5a4d336bee14fb294016cf7c4e0c0ea1$</string>
            <key>textureFileName</key>
            <string>Bird17-crown-1.png</string>
        </dict>
    </dict>
</plist>
