<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_crack_stage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{298,382}</string>
                <key>textureRect</key>
                <string>{{210,309},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_crack_stage_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{167,90}</string>
                <key>spriteSourceSize</key>
                <string>{289,382}</string>
                <key>textureRect</key>
                <string>{{292,262},{167,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_crack_stage_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{207,146}</string>
                <key>spriteSourceSize</key>
                <string>{289,382}</string>
                <key>textureRect</key>
                <string>{{1,309},{207,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_crack_stage_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{259,206}</string>
                <key>spriteSourceSize</key>
                <string>{289,382}</string>
                <key>textureRect</key>
                <string>{{292,1},{259,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_crack_stage_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{289,306}</string>
                <key>spriteSourceSize</key>
                <string>{289,382}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_crack.png</string>
            <key>size</key>
            <string>{499,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8131066c1dd209446b2ffd0b7c9e22e2:c73669b073d02fff9e286830479cf90f:3446327253c0ff33276bad1f9cfde48e$</string>
            <key>textureFileName</key>
            <string>egg_crack.png</string>
        </dict>
    </dict>
</plist>
