<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suggest_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1225,1205},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{251,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1016,805},{251,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{255,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1193,1},{255,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{257,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{976,405},{257,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{261,402}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{930,1},{261,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{305,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{342,1},{305,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{363,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1,913},{363,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{363,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{340,457},{363,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{345,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1,1321},{345,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{341,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{409,1321},{341,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{341,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{673,865},{341,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{339,406}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{817,1273},{339,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,454}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{339,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{337,454}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1,457},{337,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{305,454}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{366,865},{305,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{279,404}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{649,1},{279,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{269,404}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{705,407},{269,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{253,386}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1450,1},{253,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{245,368}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1763,779},{245,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{245,372}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1719,1189},{245,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-36}</string>
                <key>spriteSize</key>
                <string>{247,382}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1705,1},{247,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-31}</string>
                <key>spriteSize</key>
                <string>{247,392}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1731,385},{247,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{247,396}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1235,401},{247,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1269,799},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1484,389},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1472,1199},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_A0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{365,454}</string>
                <key>textureRect</key>
                <string>{{1516,789},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_suggest_a.png</string>
            <key>size</key>
            <string>{2009,1667}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f4054340a45296251becf1969d191b:dbdfcc351107510f35819e09fca8cc19:856821faec2001a986cfa9e4840f1201$</string>
            <key>textureFileName</key>
            <string>bird_suggest_a.png</string>
        </dict>
    </dict>
</plist>
