<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suggest_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-1}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1579,863},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-1}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1579,1111},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-2}</string>
                <key>spriteSize</key>
                <string>{248,397}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1585,1613},{248,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-2}</string>
                <key>spriteSize</key>
                <string>{252,397}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1585,1359},{252,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-3}</string>
                <key>spriteSize</key>
                <string>{258,395}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{791,907},{258,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-4}</string>
                <key>spriteSize</key>
                <string>{266,393}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{803,1167},{266,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1188,437},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1188,703},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1188,969},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{803,1562},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1071,1235},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-6}</string>
                <key>spriteSize</key>
                <string>{264,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1194,1501},{264,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{478,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,483},{478,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{478,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,963},{478,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{478,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{392,1},{478,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-6}</string>
                <key>spriteSize</key>
                <string>{480,389}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-4}</string>
                <key>spriteSize</key>
                <string>{476,393}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{392,481},{476,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-3}</string>
                <key>spriteSize</key>
                <string>{468,395}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{783,1},{468,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-2}</string>
                <key>spriteSize</key>
                <string>{446,397}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{392,959},{446,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{426,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1581,435},{426,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{428,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1443},{428,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{432,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1581,1},{432,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{402,1407},{434,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{787,471},{434,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suggest_B0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1180,1},{434,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_suggest_b_1.png</string>
            <key>size</key>
            <string>{1983,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c098c309048485d5a9fabe91ba6b2339:9cbd173c9dce033d0ac82ebd55243284:0fa3a9c977c2f6563545d0bd35ba9143$</string>
            <key>textureFileName</key>
            <string>bird_suggest_b_1.png</string>
        </dict>
    </dict>
</plist>
