<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>induceldle_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_B0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{433,397}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,436},{433,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_B0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{433,395}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,394},{433,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{433,393}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,394},{433,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{433,393}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,394},{433,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{433,395}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,789},{433,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,789},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,791},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,871},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_B0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1186},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1190},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1192},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1306},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_B0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1587},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1591},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_B0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1593},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_induceIdle_B.png</string>
            <key>size</key>
            <string>{1706,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c288b269414a75f7e30521cd1e5360da:edd5de2455d80504f7627edd33d072cc:50c32e977225a113f2fed2e68b49e147$</string>
            <key>textureFileName</key>
            <string>bird_induceIdle_B.png</string>
        </dict>
    </dict>
</plist>
