<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1201},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_idle.png</string>
            <key>size</key>
            <string>{248,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a0627985a84468456694c2c6526fde:2b61b143c30708fa47d7e874a271e4d7:a00c98e5b7869250227353bb9ea9f920$</string>
            <key>textureFileName</key>
            <string>bird_idle.png</string>
        </dict>
    </dict>
</plist>
