<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>appear0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{212,-56}</string>
                <key>spriteSize</key>
                <string>{24,285}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1877,404},{24,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-36}</string>
                <key>spriteSize</key>
                <string>{36,329}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1865,801},{36,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-28}</string>
                <key>spriteSize</key>
                <string>{50,349}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1857,1198},{50,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,-25}</string>
                <key>spriteSize</key>
                <string>{62,357}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{757,1929},{62,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{182,-25}</string>
                <key>spriteSize</key>
                <string>{84,359}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{396,1929},{84,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{172,-21}</string>
                <key>spriteSize</key>
                <string>{104,367}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1793,1591},{104,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{162,-5}</string>
                <key>spriteSize</key>
                <string>{124,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,1201},{124,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,-2}</string>
                <key>spriteSize</key>
                <string>{144,405}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1230,1},{144,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,0}</string>
                <key>spriteSize</key>
                <string>{164,409}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{412,1},{164,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,-2}</string>
                <key>spriteSize</key>
                <string>{170,405}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,319},{170,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,-4}</string>
                <key>spriteSize</key>
                <string>{178,401}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1222,361},{178,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,-7}</string>
                <key>spriteSize</key>
                <string>{184,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{799,1545},{184,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-9}</string>
                <key>spriteSize</key>
                <string>{192,391}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1599,1591},{192,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-8}</string>
                <key>spriteSize</key>
                <string>{196,393}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{795,1731},{196,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-6}</string>
                <key>spriteSize</key>
                <string>{210,397}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,1575},{210,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,-4}</string>
                <key>spriteSize</key>
                <string>{212,401}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{408,463},{212,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-3}</string>
                <key>spriteSize</key>
                <string>{212,403}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1230,147},{212,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-4}</string>
                <key>spriteSize</key>
                <string>{212,401}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,491},{212,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-6}</string>
                <key>spriteSize</key>
                <string>{212,397}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{400,1407},{212,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-8}</string>
                <key>spriteSize</key>
                <string>{212,393}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,1787},{212,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-9}</string>
                <key>spriteSize</key>
                <string>{230,391}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1190,1769},{230,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{250,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1625,404},{250,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{272,401}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1637,1},{272,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{294,405}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{823,1},{294,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{316,409}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{294,405}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{412,167},{294,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-4}</string>
                <key>spriteSize</key>
                <string>{272,401}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{819,297},{272,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-7}</string>
                <key>spriteSize</key>
                <string>{250,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1613,801},{250,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-9}</string>
                <key>spriteSize</key>
                <string>{248,391}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1607,1198},{248,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appear0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-8}</string>
                <key>spriteSize</key>
                <string>{244,393}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{400,1621},{244,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-7}</string>
                <key>spriteSize</key>
                <string>{242,395}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1202,1525},{242,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-6}</string>
                <key>spriteSize</key>
                <string>{240,397}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1204,1283},{240,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-6}</string>
                <key>spriteSize</key>
                <string>{236,397}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{803,1307},{236,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,-5}</string>
                <key>spriteSize</key>
                <string>{232,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{402,1173},{232,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,-5}</string>
                <key>spriteSize</key>
                <string>{238,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{803,1067},{238,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{244,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1206,1037},{244,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-6}</string>
                <key>spriteSize</key>
                <string>{246,397}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,1327},{246,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1222,541},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{811,571},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{404,677},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,705},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1212,789},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{805,819},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{402,925},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>appear0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-5}</string>
                <key>spriteSize</key>
                <string>{246,399}</string>
                <key>spriteSourceSize</key>
                <string>{448,409}</string>
                <key>textureRect</key>
                <string>{{1,953},{246,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_appear.png</string>
            <key>size</key>
            <string>{1910,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3967d4f5d8633b7ff186201b0e7c0ea5:4e8290d5c5767b3b73053e58319cddba:c8e238894a5d69b93923ef5cbdb3af59$</string>
            <key>textureFileName</key>
            <string>bird_appear.png</string>
        </dict>
    </dict>
</plist>
