<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stopLook_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1},{433,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_B0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{433,387}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,382},{433,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{433,383}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1},{433,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{433,379}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{433,383}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1},{433,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{433,387}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,386},{433,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{433,393}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,386},{433,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{433,397}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,436},{433,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_B0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,771},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,775},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,781},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,871},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_B0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1172},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1176},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopLook_B0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1182},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_stopLook_B.png</string>
            <key>size</key>
            <string>{1706,1582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd9c2913974f779a0cd12d243075e7a:e5110b81828b22f7b6fe22d26bef940f:23a695ad0eea62e987b34a93e30fb5af$</string>
            <key>textureFileName</key>
            <string>bird_stopLook_B.png</string>
        </dict>
    </dict>
</plist>
