<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>induceldle_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{795,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{250,396}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{795,801},{250,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{254,392}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1,801},{254,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{258,388}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1193,797},{258,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{264,390}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1597,395},{264,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{268,392}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1593,1},{268,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{270,392}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1325,397},{270,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{272,394}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1319,1},{272,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{274,396}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1043,1},{274,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{272,396}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1051,399},{272,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{268,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{266,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{1,401},{266,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{260,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{271,1},{260,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{252,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{395,801},{252,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceldle_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{256,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{793,401},{256,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{258,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{533,401},{258,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{260,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{533,1},{260,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceldle_A0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{262,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,398}</string>
                <key>textureRect</key>
                <string>{{269,401},{262,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>induceIdle_a.png</string>
            <key>size</key>
            <string>{1862,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ccada04e6f47580804b6156cb13430b:74ff1b4521f286ef7eb9747e3cee650c:3af94d7d88e5bcd80c2f1fcedd774cff$</string>
            <key>textureFileName</key>
            <string>induceIdle_a.png</string>
        </dict>
    </dict>
</plist>
