<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stopListen_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{291,388}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{773,495},{291,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-7}</string>
                <key>spriteSize</key>
                <string>{287,384}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{387,495},{287,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-9}</string>
                <key>spriteSize</key>
                <string>{291,380}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1163,517},{291,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-11}</string>
                <key>spriteSize</key>
                <string>{291,376}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1545,535},{291,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-9}</string>
                <key>spriteSize</key>
                <string>{285,380}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1591,248},{285,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-7}</string>
                <key>spriteSize</key>
                <string>{285,384}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1,495},{285,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{267,388}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1201,248},{267,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{245,390}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{245,392}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{393,1},{245,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{245,394}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{787,1},{245,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{245,396}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1183,1},{245,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1581,1},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{1,248},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{401,248},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{801,248},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{801,248},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopListen_A0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{801,248},{245,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_stopListen.png</string>
            <key>size</key>
            <string>{1980,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee66536294b3231d3049092a763fdb59:90ae2477c56496db7d3d19c7e0d79e25:4732cee0597638d5ad380b2e34c6e15d$</string>
            <key>textureFileName</key>
            <string>bird_stopListen.png</string>
        </dict>
    </dict>
</plist>
