<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speakHappy1_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,1},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,1},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,1},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,1},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy1_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,745},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,745},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,745},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,745},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,745},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy2_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,993},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,993},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,993},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,993},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,993},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1241},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,1241},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,1241},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,1241},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,1241},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1489},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,1489},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,1489},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speakHappy3_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,1489},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_speakHappy_A.png</string>
            <key>size</key>
            <string>{2000,1736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a52e22f1680e03f03ba4188ce881c1:bdb50ee59264b4e612f1c3bf41e0e189:2b52f0634d3d842bb9328deada2526c2$</string>
            <key>textureFileName</key>
            <string>bird_speakHappy_A.png</string>
        </dict>
    </dict>
</plist>
