<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speakUnhappy1_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{249,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{249,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{249,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{497,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy1_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{745,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{497,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{745,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{993,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{745,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{993,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy2_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1241,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{993,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1241,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1489,1},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1241,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1489,401},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1489,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakUnhappy3_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{993,801},{246,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_speakUnhappy_A.png</string>
            <key>size</key>
            <string>{1736,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfef704911edd7161c67ec944983867c:ca9814f9bf46c91b826f831a3c901841:242c378733417d8fb46831c88be04fa2$</string>
            <key>textureFileName</key>
            <string>bird_speakUnhappy_A.png</string>
        </dict>
    </dict>
</plist>
