<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stopLook_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{246,392}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1549,1},{246,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{244,388}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{244,382}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{391,1},{244,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{244,378}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{775,1},{244,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{246,382}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,247},{246,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{246,388}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{385,247},{246,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{244,392}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1155,1},{244,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{775,247},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1175,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1575,249},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1,495},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{401,495},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{801,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1201,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stopLook_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,398}</string>
                <key>spriteSourceSize</key>
                <string>{246,398}</string>
                <key>textureRect</key>
                <string>{{1601,497},{246,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_stopLook_A.png</string>
            <key>size</key>
            <string>{2000,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f26a0764a503cea3fdc00624d322757:cdd39b443786e76f2f52d2696b137bbb:30186e9717267fb46df3bc0299b8631d$</string>
            <key>textureFileName</key>
            <string>bird_stopLook_A.png</string>
        </dict>
    </dict>
</plist>
