<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>look_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_B0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,436},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_B0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{433,401}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,871},{433,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_B0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{433,397}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1180},{433,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{433,393}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1180},{433,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{433,393}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1180},{433,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,394},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,394},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,394},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,787},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,787},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_B0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,787},{433,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_look_B.png</string>
            <key>size</key>
            <string>{1708,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e55a2d35845911a8a6bcddcecb6c8ac:c58363adf8eecd51090d6ff7fea33bde:4c4dd975b004353f95c6fd2388533dbb$</string>
            <key>textureFileName</key>
            <string>bird_look_B.png</string>
        </dict>
    </dict>
</plist>
