<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suggest_B0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-1}</string>
                <key>spriteSize</key>
                <string>{432,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-1}</string>
                <key>spriteSize</key>
                <string>{432,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,402},{432,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,803},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1204},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1605},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1605},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1605},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suggest_B0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{434,399}</string>
                <key>spriteSourceSize</key>
                <string>{540,401}</string>
                <key>textureRect</key>
                <string>{{1,1605},{434,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_suggest_b_2.png</string>
            <key>size</key>
            <string>{436,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6b525c7f2a4952f73d075ca1cd8e9b:88f4aab88d5e82d6a7fd5a5268fa4483:2ed7078d9b975a77a966cc50abd79dd0$</string>
            <key>textureFileName</key>
            <string>bird_suggest_b_2.png</string>
        </dict>
    </dict>
</plist>
