<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>look_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{262,399}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{797,499},{262,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{262,399}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1198,505},{262,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{264,401}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1599,505},{264,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{260,397}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{398,497},{260,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{258,395}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1,495},{258,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{254,393}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1573,249},{254,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{248,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{787,247},{248,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{248,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1180,249},{248,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{246,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1182,1},{246,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{246,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1575,1},{246,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{246,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1,247},{246,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{246,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{394,247},{246,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{244,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{244,391}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{394,1},{244,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>look_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{244,393}</string>
                <key>spriteSourceSize</key>
                <string>{280,401}</string>
                <key>textureRect</key>
                <string>{{787,1},{244,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_look_A.png</string>
            <key>size</key>
            <string>{2001,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b4c7028ba56d2402f08d4c09d409e9:114b353ab877f3661f01a1c42d4de2e5:e3b05e15d58a4f6cbeeb5521acd9a3f8$</string>
            <key>textureFileName</key>
            <string>bird_look_A.png</string>
        </dict>
    </dict>
</plist>
