<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>induceHappy_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1},{433,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_B0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{433,391}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,436},{433,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_B0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{433,385}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,380},{433,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{433,379}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1},{433,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{433,377}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{433,377}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1},{433,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{433,383}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,380},{433,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{433,389}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,382},{433,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{433,395}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,765},{433,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{433,401}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,871},{433,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_B0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{433,401}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1306,1306},{433,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_B0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{433,401}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1569},{433,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{433,401}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1575},{433,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,767},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,773},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1162},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{436,1168},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{871,1174},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_B0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1563},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_induceHappy_B.png</string>
            <key>size</key>
            <string>{1708,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb28741bef33f74d4052e46f8653f97:8797bdb18cfa21a700cbeeb3df1a591c:de0cbdc39692fc2959599addfd938eda$</string>
            <key>textureFileName</key>
            <string>bird_induceHappy_B.png</string>
        </dict>
    </dict>
</plist>
