<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>listen_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,398}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{436,391},{245,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listen_A0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{291,388}</string>
                <key>spriteSourceSize</key>
                <string>{339,398}</string>
                <key>textureRect</key>
                <string>{{436,1},{291,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listen_B0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,399}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listen_B0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{433,387}</string>
                <key>spriteSourceSize</key>
                <string>{437,401}</string>
                <key>textureRect</key>
                <string>{{1,402},{433,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_listen.png</string>
            <key>size</key>
            <string>{728,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a08a7edc7cffbf33ba703ef5494a16:a1ae0b99e3188da339b8a6651dc65d59:2f300b00ece56bc809096dee8809c44d$</string>
            <key>textureFileName</key>
            <string>bird_listen.png</string>
        </dict>
    </dict>
</plist>
