<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>induceHappy_A0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{247,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{800,403},{247,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{249,392}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1055,1},{249,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{253,384}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1324,391},{253,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{257,378}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{403,805},{257,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_A0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{261,378}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1185,799},{261,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_A0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{265,376}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1581,385},{265,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{269,382}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1581,1},{269,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{273,388}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1306,1},{273,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{273,394}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1049,403},{273,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{271,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{269,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{269,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{265,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{272,403},{265,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{259,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{537,1},{259,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{253,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{783,805},{253,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_A0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{255,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{798,1},{255,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{257,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{1,805},{257,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>induceHappy_A0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{259,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{539,403},{259,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>induceHappy_A0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{261,400}</string>
                <key>spriteSourceSize</key>
                <string>{301,400}</string>
                <key>textureRect</key>
                <string>{{274,1},{261,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>induceHappy_A.png</string>
            <key>size</key>
            <string>{1851,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63deeb5f160e3d340d8fdf049f51370f:7eaa19b614e87b76e2cc093b1a1c8aa0:09cac43b6bea03f118dbc6ccd283cd4f$</string>
            <key>textureFileName</key>
            <string>induceHappy_A.png</string>
        </dict>
    </dict>
</plist>
