<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dancing0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{215,-12}</string>
                <key>spriteSize</key>
                <string>{188,302}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{193,1407},{188,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{185,-6}</string>
                <key>spriteSize</key>
                <string>{186,314}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{319,789},{186,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-1}</string>
                <key>spriteSize</key>
                <string>{184,324}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-2}</string>
                <key>spriteSize</key>
                <string>{190,322}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{325,187},{190,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-5}</string>
                <key>spriteSize</key>
                <string>{200,316}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,591},{200,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-11}</string>
                <key>spriteSize</key>
                <string>{208,304}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{309,1177},{208,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-16}</string>
                <key>spriteSize</key>
                <string>{226,294}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{977,1},{226,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{967,593},{220,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-10}</string>
                <key>spriteSize</key>
                <string>{214,306}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,981},{214,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-4}</string>
                <key>spriteSize</key>
                <string>{206,318}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{647,397},{206,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-2}</string>
                <key>spriteSize</key>
                <string>{202,322}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{653,1},{202,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-3}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{325,379},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,-8}</string>
                <key>spriteSize</key>
                <string>{198,310}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{635,807},{198,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,-14}</string>
                <key>spriteSize</key>
                <string>{194,298}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{937,1189},{194,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-185,-15}</string>
                <key>spriteSize</key>
                <string>{192,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{579,1489},{192,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-215,-12}</string>
                <key>spriteSize</key>
                <string>{190,302}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,1407},{190,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-224,-15}</string>
                <key>spriteSize</key>
                <string>{192,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{773,1489},{192,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-195,-12}</string>
                <key>spriteSize</key>
                <string>{188,302}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{615,1223},{188,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-165,-6}</string>
                <key>spriteSize</key>
                <string>{186,314}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,793},{186,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-1}</string>
                <key>spriteSize</key>
                <string>{184,324}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{327,1},{184,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-2}</string>
                <key>spriteSize</key>
                <string>{190,322}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{649,205},{190,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-5}</string>
                <key>spriteSize</key>
                <string>{200,316}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{643,605},{200,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-11}</string>
                <key>spriteSize</key>
                <string>{208,304}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,1197},{208,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{226,294}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{973,297},{226,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-15}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{947,891},{220,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-10}</string>
                <key>spriteSize</key>
                <string>{214,306}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{629,1007},{214,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-4}</string>
                <key>spriteSize</key>
                <string>{206,318}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{323,581},{206,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-2}</string>
                <key>spriteSize</key>
                <string>{202,322}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,187},{202,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-3}</string>
                <key>spriteSize</key>
                <string>{198,320}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{1,391},{198,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,-8}</string>
                <key>spriteSize</key>
                <string>{198,310}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{317,977},{198,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancing0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{177,-14}</string>
                <key>spriteSize</key>
                <string>{194,298}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{383,1489},{194,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancing0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-15}</string>
                <key>spriteSize</key>
                <string>{192,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,340}</string>
                <key>textureRect</key>
                <string>{{967,1489},{192,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dancing.png</string>
            <key>size</key>
            <string>{1204,1788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:437797befc6cfa44da74350b34ff62ca:4d9fdad8f804ad3d41ec19ed97404c04:854ea403bc5d7f9ab4797f40bce1fb26$</string>
            <key>textureFileName</key>
            <string>dancing.png</string>
        </dict>
    </dict>
</plist>
