<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dancingA0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-5}</string>
                <key>spriteSize</key>
                <string>{295,409}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{872,1},{295,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{293,419}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{295,403}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1232,823},{295,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancingA0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{295,411}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{575,1},{295,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{281,419}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1,422},{281,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{285,413}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{817,835},{285,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancingA0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-6}</string>
                <key>spriteSize</key>
                <string>{281,407}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1444,410},{281,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-7}</string>
                <key>spriteSize</key>
                <string>{277,405}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1462,1},{277,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-5}</string>
                <key>spriteSize</key>
                <string>{281,409}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1,843},{281,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancingA0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-1}</string>
                <key>spriteSize</key>
                <string>{277,417}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{296,1},{277,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{283,403}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{412,841},{283,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancingA0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{291,409}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1151,412},{291,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{287,417}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{284,422},{287,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{285,411}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{864,414},{285,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{289,413}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{573,420},{289,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancingA0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-6}</string>
                <key>spriteSize</key>
                <string>{291,407}</string>
                <key>spriteSourceSize</key>
                <string>{353,419}</string>
                <key>textureRect</key>
                <string>{{1169,1},{291,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dancingA.png</string>
            <key>size</key>
            <string>{1740,1125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c180e794a11cacbc9aedc7c31d1598f9:73972c1e88a902493dfd326664ca18f8:98f52e6ccceee466f17c12bf565ac178$</string>
            <key>textureFileName</key>
            <string>dancingA.png</string>
        </dict>
    </dict>
</plist>
