<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird3/default/03_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{259,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{517,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{775,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{222,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,223},{222,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{222,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{259,223},{222,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1033,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1291,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1549,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-20}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-19}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{517,223},{222,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-19}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{777,223},{222,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-19}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1037,223},{222,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-19}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1297,223},{222,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,447},{224,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{224,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{263,447},{224,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{226,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,673},{226,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{228,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,901},{228,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{228,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{259,901},{228,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{226,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{259,673},{226,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{226,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{517,673},{226,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{226,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{775,673},{226,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{226,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1033,673},{226,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{224,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{521,447},{224,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{781,447},{224,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1043,447},{224,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-26}</string>
                <key>spriteSize</key>
                <string>{222,244}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1807,1},{222,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1557,223},{226,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{228,250}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1807,247},{228,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{230,252}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1567,451},{230,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{230,254}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1799,499},{230,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-21}</string>
                <key>spriteSize</key>
                <string>{232,254}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1553,705},{232,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-21}</string>
                <key>spriteSize</key>
                <string>{232,254}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1787,755},{232,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/default/03_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{777,901},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1035,901},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{230,256}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1293,905},{230,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{228,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{517,901},{228,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-19}</string>
                <key>spriteSize</key>
                <string>{226,258}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1293,677},{226,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/default/03_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1305,451},{224,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird3-0.png</string>
            <key>size</key>
            <string>{2036,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f855e650b0b600d2fc573de86c819ca5:e4189d8b131bc0cbe8c4f2458ea308c8:09742f7bca3dc430cc2583b529878061$</string>
            <key>textureFileName</key>
            <string>Bird3-0.png</string>
        </dict>
    </dict>
</plist>
