<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird3/crown/03_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{895,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{895,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1193,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1491,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1193,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1491,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{226,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,673},{226,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,899},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{893,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{224,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{895,447},{224,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{224,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1189,447},{224,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{224,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1483,447},{224,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1187,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1481,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{593,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{887,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1475,901},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{222,282}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1789,1},{222,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{226,286}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1777,447},{226,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{230,290}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1775,735},{230,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1769,1027},{232,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{297,1129},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{591,1131},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{885,1131},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1179,1131},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1473,1131},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1127},{230,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{226,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,899},{226,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,673},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,673},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird3-crown-0.png</string>
            <key>size</key>
            <string>{2012,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5169e68c0f670ef4ce71bd69af04be76:bdb95cab5b83f41fdee7788357606d30:a375faa63b265ccca8002ceb1c209d98$</string>
            <key>textureFileName</key>
            <string>Bird3-crown-0.png</string>
        </dict>
    </dict>
</plist>
