<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird3/crown/03_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1193,1},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1491,1},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{895,1},{220,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{287,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{585,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{222,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{883,223},{222,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1703,813},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,903},{228,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{295,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{589,673},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{883,675},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1177,677},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{224,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1769,225},{224,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{597,447},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{224,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{895,449},{224,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{222,288}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1181,225},{222,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{222,284}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,223},{222,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,288}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1489,451},{228,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{230,290}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1719,521},{230,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{230,290}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,741},{230,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1419,1033},{232,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,1129},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{232,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{295,1129},{232,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{230,292}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1187,905},{230,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird3/crown/03_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{230,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1653,1107},{230,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{228,294}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{891,905},{228,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{226,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1,901},{226,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{226,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{299,901},{226,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1191,451},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird3/crown/03_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{224,296}</string>
                <key>spriteSourceSize</key>
                <string>{242,298}</string>
                <key>textureRect</key>
                <string>{{1471,225},{224,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird3-crown-1.png</string>
            <key>size</key>
            <string>{1994,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5169e68c0f670ef4ce71bd69af04be76:bdb95cab5b83f41fdee7788357606d30:a375faa63b265ccca8002ceb1c209d98$</string>
            <key>textureFileName</key>
            <string>Bird3-crown-1.png</string>
        </dict>
    </dict>
</plist>
