<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird19/crown/19_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{973,222},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{242,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1214,222},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1455,222},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{223,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1706,447},{223,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird19/crown/19_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{483,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{724,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{242,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{965,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{483,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1206,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1447,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{724,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1688,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{965,445},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,889},{223,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1212,445},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1459,447},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{495,666},{221,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{221,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{740,668},{221,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{223,229}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1696,222},{223,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{221,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{983,668},{221,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{221,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1226,670},{221,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1706,688},{221,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird19/crown/19_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{227,235}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1469,670},{227,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{233,235}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{495,889},{233,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-13}</string>
                <key>spriteSize</key>
                <string>{237,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{979,891},{237,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{241,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1222,893},{241,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{233,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{732,891},{233,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{227,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,889},{227,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{244,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{730,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird19-crown-1.png</string>
            <key>size</key>
            <string>{1930,1135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f032e11530604d44e05425cb2cf570:c25a268bca9ae514c79e3b246b0378c3:c7a6341ca6450066075712424cd4fedc$</string>
            <key>textureFileName</key>
            <string>bird19-crown-1.png</string>
        </dict>
    </dict>
</plist>
