<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird19/crown/19_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{730,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{973,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1216,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1459,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{219,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1702,1},{219,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{217,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,441},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{242,441},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{483,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{724,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{965,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1206,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1447,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1688,443},{221,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,220},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{217,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{242,1},{217,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{223,247}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,887},{223,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{250,889},{223,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{219,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,222},{219,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1,664},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{481,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{728,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{221,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{975,666},{221,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1222,666},{221,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1467,666},{221,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1712,666},{221,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{244,220},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{734,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{219,237}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{977,222},{219,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{219,231}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1216,222},{219,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{221,231}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{248,664},{221,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{225,229}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1216,889},{225,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{223,231}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{497,889},{223,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{223,237}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{730,889},{223,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-14}</string>
                <key>spriteSize</key>
                <string>{225,239}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1447,889},{225,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{225,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1688,889},{225,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{969,889},{223,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{219,243}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1449,222},{219,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{1694,222},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird19/crown/19_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{281,287}</string>
                <key>textureRect</key>
                <string>{{487,1},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird19-crown-0.png</string>
            <key>size</key>
            <string>{1956,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f032e11530604d44e05425cb2cf570:c25a268bca9ae514c79e3b246b0378c3:c7a6341ca6450066075712424cd4fedc$</string>
            <key>textureFileName</key>
            <string>bird19-crown-0.png</string>
        </dict>
    </dict>
</plist>
