<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird7/default/07_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1747,236},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{271,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1188},{271,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{277,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{274,1192},{277,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{285,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{579,471},{285,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{287,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{287,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{285,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{290,1},{285,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{287,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{577,1},{287,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-20}</string>
                <key>spriteSize</key>
                <string>{287,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{866,1},{287,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1155,1},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1446,1},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1737,1},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{583,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{874,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1165,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1456,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,471},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{285,237}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,471},{285,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{283,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{866,471},{283,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1151,471},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1434,471},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1715,477},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,706},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,710},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,712},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,712},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,712},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,712},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1699,718},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,947},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,951},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,953},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,953},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,953},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,953},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1697,959},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{277,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{553,1194},{277,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{271,249}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1431},{271,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{271,249}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1101,1437},{271,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{271,249}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1374,1437},{271,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{273,247}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{274,1435},{273,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{273,247}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{549,1437},{273,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{275,247}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{824,1437},{275,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{279,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{832,1194},{279,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{279,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1113,1194},{279,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{281,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1394,1194},{281,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{279,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1677,1200},{279,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird7-1.png</string>
            <key>size</key>
            <string>{2027,1687}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2581dbeb70f088b1fc42078ea7a017fe:d10d5f8d083c2802c600b9e544666f13:3a463546b8caf20e4619e8693f082a0b$</string>
            <key>textureFileName</key>
            <string>Bird7-1.png</string>
        </dict>
    </dict>
</plist>
