<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird7/crown/07_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1747,262},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{275,267}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{282,1322},{275,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{271,269}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1679,1330},{271,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{559,1324},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{285,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{579,523},{285,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{287,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{287,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{285,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{290,1},{285,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{287,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{577,1},{287,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{287,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{866,1},{287,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1155,1},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1446,1},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1737,1},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{583,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{874,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1165,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1456,262},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{289,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,523},{289,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{285,263}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,523},{285,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{283,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{866,523},{283,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1151,523},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1434,523},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1715,529},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,784},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,788},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,790},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,790},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,790},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,790},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1699,796},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1051},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,1055},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,1057},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,1057},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,1057},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,1057},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1697,1063},{281,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{830,1593},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{271,273}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1585},{271,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bird7/crown/07_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1105,1593},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{273,273}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1380,1593},{273,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{275,271}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{276,1591},{275,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{275,271}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{553,1593},{275,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{838,1324},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{279,267}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1117,1324},{279,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{279,267}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1398,1324},{279,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/crown/07_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{279,265}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1318},{279,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird7-crown-1.png</string>
            <key>size</key>
            <string>{2027,1867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85fd1b3cc958adf48271f48ccef30949:7815b3e8641bf44a4d424b85eced90d7:a86a5145a6b439e2e984c6a9db9c1977$</string>
            <key>textureFileName</key>
            <string>Bird7-crown-1.png</string>
        </dict>
    </dict>
</plist>
