<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird7/default/07_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{275,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1408,1190},{275,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{271,241}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1685,1192},{271,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,461},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{291,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1444,1},{291,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1737,1},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,222},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{577,226},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1153,232},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1444,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1735,236},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,457},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{585,463},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{874,467},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-19}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1444,471},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-18}</string>
                <key>spriteSize</key>
                <string>{285,237}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1733,471},{285,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,692},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,698},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,700},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,704},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,708},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,708},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1699,710},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,933},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,939},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{567,941},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{850,945},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1133,949},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1416,949},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1699,951},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{281,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1174},{281,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{283,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{292,222},{283,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-25}</string>
                <key>spriteSize</key>
                <string>{285,223}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{577,1},{285,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-27}</string>
                <key>spriteSize</key>
                <string>{285,219}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{287,219}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{288,1},{287,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{289,223}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{864,1},{289,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{287,229}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1155,1},{287,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{283,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{868,226},{283,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{273,245}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{840,1427},{273,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{271,247}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1671,1435},{271,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{275,245}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1115,1431},{275,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{277,245}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1392,1433},{277,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{277,243}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1,1415},{277,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{277,243}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{280,1421},{277,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{279,243}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{559,1423},{279,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{284,1180},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{565,1182},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{846,1186},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1127,1190},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bird7/default/07_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{279,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,273}</string>
                <key>textureRect</key>
                <string>{{1163,467},{279,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bird7-0.png</string>
            <key>size</key>
            <string>{2027,1683}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2581dbeb70f088b1fc42078ea7a017fe:d10d5f8d083c2802c600b9e544666f13:3a463546b8caf20e4619e8693f082a0b$</string>
            <key>textureFileName</key>
            <string>Bird7-0.png</string>
        </dict>
    </dict>
</plist>
