<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_badge_small-money-bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{337,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{505,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{673,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{505,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{337,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_small-money-bag_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{166,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sc_badge_small-money-bag.png</string>
            <key>size</key>
            <string>{840,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c143093b6867f3f33e32ff2d290105c7:c377ed72c1094b4af7887dcf96ac8543:4525cbb4cc3a31aad432ad5332f1b701$</string>
            <key>textureFileName</key>
            <string>sc_badge_small-money-bag.png</string>
        </dict>
    </dict>
</plist>
