<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_badge_large-money-bag_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{221,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{331,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{441,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{551,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{661,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{771,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,122}</string>
                <key>spriteSize</key>
                <string>{108,78}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{881,1},{108,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sc_badge_large-money-bag_effect.png</string>
            <key>size</key>
            <string>{990,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92fd1b39ddafcd5ca33d340af156fdf:13113295a9db6a86368f99584c89876f:c78b77495a6db3ab6142bf142d9fdf5a$</string>
            <key>textureFileName</key>
            <string>sc_badge_large-money-bag_effect.png</string>
        </dict>
    </dict>
</plist>
