<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_badge_large-money-bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,263},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,525},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,787},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1049},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1311},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1573},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sc_badge_large-money-bag.png</string>
            <key>size</key>
            <string>{250,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1596fda3927746a85a10c5a01779aed3:fe77c0088ced46fbc9319fd4f12ab0ee:51bee57b530b3ed7154e7ed7938b8549$</string>
            <key>textureFileName</key>
            <string>sc_badge_large-money-bag.png</string>
        </dict>
    </dict>
</plist>
