<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_badge_large-money-bag_math_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,263},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,525},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,787},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1049},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1311},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_badge_large-money-bag_math_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{248,260}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1,1573},{248,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sc_badge_large-money-bag_math.png</string>
            <key>size</key>
            <string>{250,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d09e112e910f19bb5606735bb3509b:1e4cf571fa3618b0d15d85c19abeb0de:f40bf07f91d4573244b071cac8f5079d$</string>
            <key>textureFileName</key>
            <string>sc_badge_large-money-bag_math.png</string>
        </dict>
    </dict>
</plist>
